/**
 * @name Slick
 * @description The Best Discord Theme Out There! This Theme Is Red, Black, Modern, And Slick Making It The Best Theme To Use For Gaming And Feeling Amazing On Your Eyes After A Long Day!
 * @author DevBubba
 * @version 2.0
 * @authorId 767140711102414879
 * @invite 6qAvAephsW
 * @website https://devbubba.github.io/
 * @source https://github.com/DevBubba/Slick
 */

/**          
  ██████     ██▓        ██▓    ▄████▄      ██ ▄█▀
▒██    ▒    ▓██▒       ▓██▒   ▒██▀ ▀█      ██▄█▒ 
░ ▓██▄      ▒██░       ▒██▒   ▒▓█    ▄    ▓███▄░ 
  ▒   ██▒   ▒██░       ░██░   ▒▓▓▄ ▄██▒   ▓██ █▄ 
▒██████▒▒   ░██████▒   ░██░   ▒ ▓███▀ ░   ▒██▒ █▄
▒ ▒▓▒ ▒ ░   ░ ▒░▓  ░   ░▓     ░ ░▒ ▒  ░   ▒ ▒▒ ▓▒
░ ░▒  ░ ░   ░ ░ ▒  ░    ▒ ░     ░  ▒      ░ ░▒ ▒░
░  ░  ░       ░ ░       ▒ ░   ░           ░ ░░ ░ 
      ░         ░  ░    ░     ░ ░         ░  ░   
                              ░                  

Made By | DevBubba#6642
Version | 2.0
*/

@import url('https://raw.githubusercontent.com/DevBubba/Slick/main/Lib/Fonts.css');
@import url('https://raw.githubusercontent.com/DevBubba/Slick/main/Lib/Theme.css');

:root {
  --font-primary: 'Rajdhani'; /* All Text Font [Default: #992727] */
  --app-background: url("https://i.imgur.com/dLO5zNM.jpg"); /* Background Image [Default: ("https://i.imgur.com/dLO5zNM.jpg")] */
  --main-color: #992727; /* Main Color (Mostly Used In Buttons) [Default: #992727] */
  --main-color-selected: #aa2f2f; /* [Default: #aa2f2f] */
  --main-color-semitransparent: #d4393926; /* [Default: #d4393926] */
  --main-color-semitransparent-selected: #d336364d; /* [Default: #d336364d] */
  --accent-color: #fd9fa0; /* Accent Color (Used In Links, Mentions etc) [Default: #fd9fa0] */
  --accent-color-semitransparent: #fca7a918; /* [Default: #fca7a918] */
  --accent-saturated: #fd7a7c; /* [Default: #fd7a7c] */
  --accent-desaturated: #b47a7a; /* [Default: #b47a7a] */
  --button-text: #dddddd; /* [Default: #dddddd] */
  --button-text-selected: #ffffff; /* [Default: #ffffff] */
  --profile-background: url("https://i.imgur.com/0zPtqeA.jpg"); /* Profile Background [Default: ("https://i.imgur.com/0zPtqeA.jpg")] */
  --profile-activity: #6d1515; /* Activity Field Color (In Profiles) [Default: #6d1515] */
  --scroll-thumb-color: #a54b4b; /* Scrollbar Color [Default: #a54b4b] */
  --app-background: url("https://i.imgur.com/dLO5zNM.jpg");
}
